* { margin: 0; padding: 0; font-size: 100%; border: none; outline: none; font-weight: 300; box-sizing: border-box; }

body, html { width: 100%; height: 100%; min-width: 320px; font-family: 'Roboto Condensed', sans-serif; color: #666666; }

.clear { clear: both; }

body {
	background-color: #ffffff;
	background-image: linear-gradient(to left, #ffffff, #f1f1f1);
}

b {
	font-weight: 700;
}

#wrapper {
	margin: 0 auto;
	max-width: 480px;
	width: 100%;
}

img {
	margin-top: 7%;
	max-width: 100%;
	border: none;
}

.fotobio {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 86%;
	border-radius: 50%;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1), 0 4px 20px 0 rgba(0,0,0,0.1);
	animation-name: aparecerfotobio;
	animation-duration: 2s;
}

.botoes {
	width: 100%;
	padding: 11% 0 2% 0;
	margin-bottom: 22%;
	text-align: center;
	animation-name: aparecerbotoes;
	animation-duration: 2s;
}

.botao {
	display: block;
	width: 100%;
	margin-bottom: 4%;
	padding: 4%;
	background-color: #D96326;
	background-image: linear-gradient(to left, #F3C10C, #D96326);
	font-size: 1.7em;
	font-weight: 400;
	color: #fff;
	text-decoration: none;
	text-shadow: 1px 1px 6px #212121;
	border-bottom: 6px solid #823b16;
	border-radius: 18px;
	box-shadow: inset 0px 0px 3px rgba(255,255,255,.5);
	cursor: pointer;
	transition-duration: 0.3s;
}

.botao:hover {
	background-color: #009249;
	background-image: linear-gradient(to bottom, #009249, #009249);
	border-bottom: 6px solid #004924;
	box-shadow: none;
	transform: translateY(2px);
}

.creditos {
	font-family: 'Montserrat', sans-serif;
	font-size: 1em;
	font-weight: 300;
	text-align: center;
	line-height: 1.4em;
	background-color: #fff;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1), 0 4px 20px 0 rgba(0,0,0,0.1);
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	animation-name: aparecercreditos;
	animation-duration: 18s;
}

.creditos:hover {
	transition-duration: 0.3s;
	transform: translateY(-3px);
	padding-bottom: 3%;
}

.creditos p {
	padding: 4% 0 3% 0;
	color: #e6e6e6;
}

.pularcreditos {
	display: block;
}

.creditos a {
	color: #4f4f4f;
	text-decoration: none;
}

.creditos a:hover {
	color: #004924;
}

a.creditotitu {
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 0.1em;
	color: #4f4f4f;
}

.modal { display: none; position: fixed; z-index: 1; padding-top: 5.4%; left: 0; top: 0; width: 100%; height: 100%; overflow: auto; background-color: rgb(0,0,0); background-color: rgba(0,0,0,0.8); }
.modal-content { margin: auto; width: 70%; padding: 2% 3% 3% 3%; background-color: #fefefe; text-align: left; color: #909090; border: 1px solid #888; }
.imgmodal { float: left; margin: 0; padding: 0; margin-right: 2%; border-radius: 50%; box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1), 0 4px 20px 0 rgba(0,0,0,0.1); }
.modal h1 { float: left; margin-top: 2%; margin-bottom: 6%; font-size: 2.9em; font-style: italic; text-transform: uppercase; font-weight: 700; color: #ff9a1f; }
.modal h2 { float: left; margin-top: 2%; margin-bottom: 6%; font-size: 2.9em; font-style: italic; text-transform: uppercase; font-weight: 700; color: #ff9a1f; }
h2.menor { font-size: 2.8em; }
.modalmenor { display: block; font-size: 0.65em; font-weight: 400; letter-spacing: -1px; color: #b0b0b0; border-bottom: 2px solid #ffdcb1; padding-bottom: 13px; }
.modal p { padding-bottom: 3.2%; font-size: 2em; font-weight: 400; }
.modal ul { padding-top: 3.2%; padding-bottom: 5%; text-align: left; list-style: none; }
.modal li { padding-bottom: 1.25%; font-size: 2em; font-weight: 400; }
.modal li.titu { font-weight: 700; text-transform: uppercase; padding-top: 1%; padding-bottom: 2.6%; }
.modal li.linhamenor { padding: 0; }
.checkpag { color: #ffdcb1; padding-right: 1%; }
.close { float: right; margin-top: 2%; font-size: 3.5em; font-weight: bold; color: #ff9a1f; }
.close:hover, .close:focus { color: #eaeaea; text-decoration: none; cursor: pointer; }
.closebtn { display: none; float: right; padding: 2% 3%; background-color: #f2f2f2; font-size: 1em; font-weight: 400; color: #666666; border: 1px solid #EAEAEA; }
.closebtn:hover, .close:focus { background-color: #c1c1c1; color: #fff; text-decoration: none; cursor: pointer; }

.buttonorcamento {
	display: inline-block;
	margin-top: 3%;
	padding: 2.4% 2.9%;
	background-color: #01B75C;
	background-image: linear-gradient(to right, #01B75C, #009249);
	font-size: 0.85em;
	font-weight: 400;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.3);
	border-bottom-width: 3px;
    cursor: pointer;
}

.buttonorcamento:hover {
	background-color: #009249;
	background-image: linear-gradient(to bottom, #009249, #009249);
	transition: 0.3s;
}

#botoes {
    height: 95px;
    position: fixed;
    bottom: 1%;
    right: 3%;
	display: block;
}

#botoes a {
	display: block;
    width: 80px;
	height: 80px;
	margin-bottom: 13px;
	padding-top: 15px;
	text-align: center;
	background-color: #01B75C;
	background-image: linear-gradient(to bottom, #01B75C, #009249);
	color: #fff;
	text-decoration: none;
	font-size: 3em;
	border-radius: 50%;
	box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
	text-shadow: 1px 1px 1px #666666;
	transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-webkit-animation-name: aniwhats;
	-moz-animation-name: aniwhats;
	-o-animation-name: aniwhats;
	-ms-animation-name: aniwhats;
	animation-name: aniwhats;
	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
	-o-animation-duration: 2s;
	-ms-animation-duration: 2s;
	animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
	-ms-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-timing-function: linear;
	-o-animation-timing-function: linear;
	-ms-animation-timing-function: linear;
	animation-timing-function: linear;
}

#botoes a:hover {
	background-color: #009249;
	background-image: linear-gradient(to bottom, #009249, #009249);
	transition: 0.3s;
}

@media screen and (max-width: 1870px){
	.modal { padding-top: 5.5%; }
	.modal h1 { font-size: 2.85em; }
	.modal h2 { font-size: 2.85em; }
	h2.menor { font-size: 2.75em; }
	.modal p { font-size: 1.95em; }
	.modal li { font-size: 1.95em; }
	.close { font-size: 3.45em; }
}

@media screen and (max-width: 1780px){
	.modal { padding-top: 5.7%; }
	.modal h1 { font-size: 2.8em; }
	.modal h2 { font-size: 2.8em; }
	h2.menor { font-size: 2.7em; }
	.modal p { font-size: 1.85em; }
	.modal li { font-size: 1.85em; }
	.close { font-size: 3.4em; }
}

@media screen and (max-width: 1680px){
	.botao { font-size: 1.65em; }
	.modal { padding-top: 6%; }
	.modal h1 { font-size: 2.75em; margin-top: 2.5%; margin-bottom: 6.5%; }
	.modal h2 { font-size: 2.75em; margin-top: 2.5%; margin-bottom: 6.5%; }
	h2.menor { font-size: 2.65em; }
	.modal p { font-size: 1.8em; }
	.modal ul { padding-top: 0.8%; }
	.modal li { font-size: 1.8em; padding-bottom: 1.2%; }
	.close { font-size: 3.35em; }
}

@media screen and (max-width: 1600px){
	.modal { padding-top: 6.2%; }
	.modal h1 { font-size: 2.7em; margin-top: 3%; }
	.modal h2 { font-size: 2.7em; margin-top: 3%; }
	h2.menor { font-size: 2.6em; }
	.modal p { font-size: 1.75em; }
	.modal li { font-size: 1.75em; }
	.close { font-size: 3.3em; }
}

@media screen and (max-width: 1536px){
	.modal { padding-top: 6.6%; }
	.modal h1 { font-size: 2.55em; margin-top: 3.5%; }
	.modal h2 { font-size: 2.55em; margin-top: 3.5%; }
	h2.menor { font-size: 2.45em; }
	.modal p { font-size: 1.7em; }
	.modal li { font-size: 1.7em; }
	.close { font-size: 3.2em; margin-top: 3.5%; }
	.buttonorcamento { font-size: 0.8em; }
}

@media screen and (max-width: 1440px){
	.botao { font-size: 1.5em; }
	.modal { padding-top: 6%; }
	.modal h1 { font-size: 2.5em; }
	.modal h2 { font-size: 2.5em; }
	h2.menor { font-size: 2.4em; }
	.modal p { font-size: 1.65em; }
	.modal ul { padding-top: 0.5%; }
	.modal li { font-size: 1.65em; }
	.close { font-size: 3.1em; margin-top: 3.8%; }
	#botoes { height: 90px; bottom: 1%; right: 3%; }
	#botoes a { width: 70px; height: 70px; margin-bottom: 8px; padding-top: 14.5px; font-size: 2.6em; }
	#botoes a.msgmenor { font-size: 2.3em; padding-top: 14.5px; }
	#botoes a.setacima { font-size: 3.2em; padding-top: 5px; }
}

@media screen and (max-width: 1380px){
	.botao { font-size: 1.45em; }
	.modal h1 { font-size: 2.45em; margin-top: 4%; }
	.modal h2 { font-size: 2.45em; margin-top: 4%; }
	h2.menor { font-size: 2.35em; }
	.modal p { font-size: 1.6em; }
	.modal li { font-size: 1.6em; padding-bottom: 1.4%; }
	.close { font-size: 3em; }
}

@media screen and (max-width: 1280px){
	.fotobio { width: 76%; max-width: 76%; }
	.botao { font-size: 1.4em; }
	.modal { padding-top: 7%; }
	.modal-content { width: 75%; }
	.modal h1 { font-size: 2.3em; margin-top: 4.2%; margin-bottom: 7%; }
	.modal h2 { font-size: 2.3em; margin-top: 4.2%; margin-bottom: 7%; }
	h2.menor { font-size: 2.2em; }
	.modal p { font-size: 1.55em; }
	.modal li { font-size: 1.55em; }
	.close { font-size: 2.9em; }
	.creditos { font-size: 0.9em; }
}

@media screen and (max-width: 1220px){
	.imgmodal { margin-right: 1%; }
	.modal h1 { font-size: 2.25em; margin-top: 4.4%; }
	.modal h2 { font-size: 2.25em; margin-top: 4.4%; }
	h2.menor { font-size: 2.15em; }
	.modal p { font-size: 1.5em; }
	.modal ul { padding-top: 0.7%; }
	.modal li { font-size: 1.5em; }
	.close { font-size: 2.8em; }
}

@media screen and (max-width: 1180px){
	.modal-content { width: 80%; }
	.modal h1 { font-size: 2.2em; margin-top: 4.6%; }
	.modal h2 { font-size: 2.2em; margin-top: 4.6%; }
	h2.menor { font-size: 2.1em; }
	.modal p { font-size: 1.48em; }
	.modal li { font-size: 1.48em; }
	.close { font-size: 2.7em; }
}

@media screen and (max-width: 1100px){
	.modal { padding-top: 7.5%; }
	.imgmodal { max-width: 135px; }
	.modal h1 { font-size: 2.1em; }
	.modal h2 { font-size: 2.1em; }
	h2.menor { font-size: 2em; }
	.modal p { font-size: 1.45em; }
	.modal li { font-size: 1.45em; }
	.close { font-size: 2.6em; }
	#botoes { height: 70px; bottom: 1%; right: 3%; }
	#botoes a { width: 55px; height: 55px; margin-bottom: 8px; padding-top: 11px; font-size: 2em; }
	#botoes a.msgmenor { font-size: 1.7em; padding-top: 15px; }
	#botoes a.setacima { font-size: 2.4em; padding-top: 5px; }
}

@media screen and (max-width: 1068px){
	.modal { padding-top: 8%; }
	.modal h1 { font-size: 1.95em; }
	.modal h2 { font-size: 1.95em; }
	h2.menor { font-size: 1.85em; }
	.modal p { font-size: 1.4em; }
	.modal li { font-size: 1.4em; }
	.close { font-size: 2.5em; }
}

@media screen and (max-width: 1024px){
	.creditos { font-size: 0.8em; }
}

@media screen and (max-width: 1000px){
	#botoes { display: none; }
}

@media screen and (max-width: 980px){
	.fotobio { width: 72%; max-width: 72%; }
	.modal { padding-top: 8.5%; }
	.modal-content { width: 90%; }
	.modal h1 { font-size: 1.9em; margin-bottom: 7.5%; }
	.modal h2 { font-size: 1.9em; margin-bottom: 7.5%; }
	h2.menor { font-size: 1.8em; }
	.close { font-size: 2.45em; }
}

@media screen and (max-width: 860px){
	.modal { padding-top: 9%; }
	.modal h1 { font-size: 1.85em; margin-top: 5.5%; margin-bottom: 7.5%; }
	.modal h2 { font-size: 1.85em; margin-top: 5.5%; margin-bottom: 7.5%; }
	h2.menor { font-size: 1.75em; }
	.modal p { font-size: 1.35em; padding-bottom: 3%; }
	.modal ul { padding-top: 0.8%; }
	.modal li { font-size: 1.35em; }
	.close { font-size: 2.35em; margin-top: 4.1%; }
}

@media screen and (max-width: 768px){
	#wrapper { padding-top: 4%; }
	.fotobio { width: 70%; max-width: 70%; }
	.botoes { width: 92%; margin: 0 4% 20% 4%; padding: 14% 0 2% 0; }
	.modal { padding-top: 9.5%; }
	.modal-content { width: 90%; }
	.imgmodal { max-width: 115px; }
	.modal h1 { font-size: 1.8em; margin-top: 4.8%; margin-bottom: 6.2%; }
	.modal h2 { font-size: 1.8em; margin-top: 4.8%; margin-bottom: 6.2%; }
	h2.menor { font-size: 1.7em; }
	.modal p { font-size: 1.3em; padding-bottom: 3.4%; }
	.modal li { font-size: 1.3em; }
	.close { font-size: 2.3em; }
	.creditos { width: 92%; margin: 0 auto; }
}

@media screen and (max-width: 720px){
	.modal { padding-top: 10%; }
}

@media screen and (max-width: 700px){
	.imgmodal { max-width: 120px; }
	.buttonorcamento { padding: 2.5% 4%; }
	.modal { padding-top: 10.4%; }
	.imgmodal { max-width: 110px; }
	.modal h1 { font-size: 1.75em; margin-top: 5%; margin-bottom: 7%; }
	.modal h2 { font-size: 1.75em; margin-top: 5%; margin-bottom: 7%; }
	h2.menor { font-size: 1.65em; }
	.modal p { font-size: 1.2em; padding-bottom: 3.6%; line-height: 1.4em }
	.modal ul { padding-top: 1%; }
	.modal li { font-size: 1.2em; }
	.close { font-size: 2.2em; }
}

@media screen and (max-width: 640px){
	.imgmodal { max-width: 110px; }
	.botao { font-size: 1.5em; }
	.buttonorcamento { padding: 3% 4%; }
	.modal { padding-top: 10.8%; }
	.modal h1 { font-size: 1.7em; margin-top: 5.8%; margin-bottom: 7.2%; }
	.modal h2 { font-size: 1.7em; margin-top: 5.8%; margin-bottom: 7.2%; }
	h2.menor { font-size: 1.6em; }
	.modalmenor { font-size: 0.6em; font-weight: 300; letter-spacing: -1px; padding-bottom: 12px; }
	.modal p { font-size: 1.16em; padding-bottom: 6%; }
	.modal ul { padding-bottom: 6%; }
	.modal li { font-size: 1.16em; padding-bottom: 1.6%; }
	.close { font-size: 2.1em; }
}

@media screen and (max-width: 600px){
	.closebtn { padding: 4% 5%; }
}

@media screen and (max-width: 580px){
	.modal { padding-top: 11%; }
	.imgmodal { max-width: 100px; margin-top: 1.6%; }
	.modal h1 { font-size: 1.7em; margin-bottom: 11%; }
	.modal h2 { font-size: 1.7em; margin-bottom: 11%; }
	h2.menor { font-size: 1.6em; }
	.close { font-size: 2em; margin-top: 6%; }
}

@media screen and (max-width: 560px){
	.fotobio { width: 68%; max-width: 68%; }
	.botoes { width: 80%; margin: 0 10% 20% 10%; padding: 12% 0 2% 0; }
	.botao { font-size: 1.45em; margin-bottom: 4.5%; padding: 4.8%; }
	.modal-content { padding: 4%; }
	.modalmenor { padding-bottom: 10px; }
	.modal p { padding-bottom: 4%; }
	.modal li { padding-bottom: 1.8%; }
	.close { margin-top: 5.8%; }
	.creditos { width: 80%; }
}

@media screen and (max-width: 540px){
	.modal { padding-top: 11.5%; }
}

@media screen and (max-width: 480px){
	.fotobio { width: 65%; max-width: 65%; }
	.botao { font-size: 1.4em; }
	.modal { padding-top: 11.8%; }
	.imgmodal { max-width: 90px; margin-right: 1%; }
	.modal h1 { font-size: 1.55em; margin-bottom: 14%; }
	.modal h2 { font-size: 1.55em; margin-bottom: 14%; }
	h2.menor { font-size: 1.45em; }
	.modal p { font-size: 1.15em; padding-left: 0; padding-bottom: 5%; }
	.modal ul { padding-bottom: 5%; }
	.modal li { font-size: 1.15em; padding-bottom: 1.9%; }
	.close { margin-top: 4.8%; }
	.creditos {	font-size: 0.75em; }
	.creditos p { padding: 5% 0 4% 0; }
}

@media screen and (max-width: 420px){
	img { width: 75%; max-width: 75%; }
	.modal { padding-top: 12%; }
	.modal h1 { font-size: 1.45em; margin-top: 7.5%; margin-bottom: 16%; }
	.modal h2 { font-size: 1.45em; margin-top: 7.5%; margin-bottom: 16%; }
	h2.menor { font-size: 1.35em; }
	.modal p { padding-bottom: 7%; }
	.modal ul { padding-bottom: 7%; }
	.close { margin-top: 5%; }
}

@media screen and (max-width: 400px){
	.modal { padding-top: 12.4%; }
	.imgmodal { max-width: 75px; margin-right: 1%; }
	.modal h1 { font-size: 1.4em; margin-top: 6%; margin-bottom: 15%; }
	.modal h2 { font-size: 1.4em; margin-top: 6%; margin-bottom: 15%; }
	h2.menor { font-size: 1.3em; }
}

@media screen and (max-width: 380px){
	.botao { font-size: 1.25em; margin-bottom: 4.8%; }
	.modal { padding-top: 12.8%; }
	.modal-content { width: 92%; }
	.modal p { padding-bottom: 9%; }
	.modal ul { padding-bottom: 9%; }
}

@media screen and (max-width: 360px){
	#wrapper { padding-top: 6%; }
	.botoes { width: 85%; margin: 0 8% 20% 8%; }
	.modal { padding-top: 13%; }
	.imgmodal { max-width: 65px; }
	.modal h1 { font-size: 1.3em; margin-top: 5%; margin-bottom: 13%; }
	.modal h2 { font-size: 1.3em; margin-top: 5%; margin-bottom: 13%; }
	h2.menor { font-size: 1.2em; }
	.modal p { font-size: 1.1em; padding-bottom: 11%; }
	.modal ul { padding-bottom: 11%; }
	.modal li { font-size: 1.1em; padding-bottom: 2%; }
	.close { margin-top: 2.8%; }
	.creditos {	font-size: 0.7em; }
}

@media screen and (max-width: 340px){
	.modal { padding-top: 13.2%; }
	.imgmodal { max-width: 60px; }
	.botao { font-size: 1.2em; }
	.modal h1 { font-size: 1.25em; }
	.modal h2 { font-size: 1.25em; }
	h2.menor { font-size: 1.15em; }
	.creditos {	font-size: 0.65em; }
}

@media screen and (max-width: 320px){
	.botao { font-size: 1.1em; }
	.modal h1 { font-size: 1.2em; }
	.modal h2 { font-size: 1.2em; }
	h2.menor { font-size: 1.1em; }
	.modal p { font-size: 1em; padding-bottom: 11.5%; }
	.modal ul { padding-bottom: 11.5%; }
	.modal li { font-size: 1em; padding-bottom: 2.2%; }
}

@keyframes aparecerfotobio{
	0% { opacity: 0; transform: translate(0px,-20px); }
	100% { opacity: 1; transform: translate(0px,0px); }
}

@keyframes aparecerbotoes{
	0% { opacity: 0; transform: translate(0px,20px); }
	100% { opacity: 1; transform: translate(0px,0px); }
}

@keyframes aniwhats{
  0% { transform: scale(1); }
  65% { transform: scale(1.13); }
  100% { transform: scale(1); }
}

@keyframes aparecercreditos{
	0% { opacity: 0; }
	100% { opacity: 1; }
}